body {
    font-family: Arial, sans-serif;
    background: #f4f7fc;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 80px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    color: #0d47a1;
}

p {
    color: #555;
}

input {
    width: 90%;
    padding: 12px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background: #0d47a1;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1565c0;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
